.accounts {
    width: 100vw ;
    overflow: hidden ;
}

.text-align-right {
    text-align: right ;
}

.add-account-btn {
    margin-top: 1.5em;
    width: 30%;
}

.account-list {
    margin-bottom: 1em;
    height: 85vh ;
    overflow: auto ;
}
