.login-form {
    /*  display: grid; */
    margin: inherit;
    text-align: center;
}

.login-form .textfield {
    width: 100%;
}

.login-form .login-btn {
    width: 100%;
}

.login-form .error label{
    color: #bf4343f2;
}

/* Icon defines */
.login-form .login-state-icon {
    color: white !important;
}

.login-form .success {
    color: white !important;
    width: 80% !important;
    background-color: #4caf50 !important;
    margin-bottom: 0.5em;
}

.login-form .loading {
    color: white !important;
    width: 80% !important;
    background-color: #f57c00 !important;
    margin-bottom: 0.5em;
}

.login-form .failed {
    color: white !important;
    width: 80% !important;
    background-color: #bf4343f2 !important;
    margin-bottom: 0.5em;
}
