.create-form-crowdsale{
    display: grid;
}

.create-form-crowdsale .create-form-crowdsale-items{
    display: flex;
}

.create-form-crowdsale .create-form-crowdsale-adornment{
    width: 4em;
}

.create-form-crowdsale-additionalsupply{
    margin: 1em 1em 1em 1em;
}

.create-form-crowdsale-additionalsupply .slider-additionalsupply{
    display: inline-block;
    width: 93%;
}

.create-form-crowdsale-crprange{
    margin: 2em 1em 1em 1em;
    text-align: right;
}

.tail{
    width: 5% !important;
    margin: 0em 0em 0em 1em !important;
}

.tail-big{
    width: 15% !important;
    margin: 0em 0em 0em 1em !important;
}
