.create-form-token{
    display: grid;
}

.toggle-sto{
    margin-top: 1em;
}

.sto-label{
    margin-left: 1em;
    margin-right: 1em;
    display: block;
    color: gray;
}

.sto-btn{
    margin-left: 1em !important;
}
