.transactions {
    font-size: smaller;
    text-align: right;
}

.transactions .transaction-table{
    width: 99%;
    table-layout: fixed;
}

.transactions .transaction-table-td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.transaction-table .table-cell-small{
    width: 15em;
}

.transaction-table .table-cell-medium{
    width: 30em;
}
