.projects {
    width: 100vw ;
    overflow: hidden ;
}

.projects .project-area{
    display: inline-block;
    width: 99%;
}

.projects .project-area-detail div{
    padding-bottom: 0em;
}

.t-right {
    text-align: right;
}
