@import url('https://fonts.googleapis.com/css?family=Anton|Roboto|Dosis|Russo+One');
@import './common/Icon.css';

/* To frmove spinner button of number type inputs. */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

body {
    overflow-x: hidden;
}

.v-middle{
    vertical-align: middle;
}

.none {
    display: none !important;
}

.error fieldset{
    border-color: #bf4343f2 !important;
}

.contents-view {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-grow: 1;
    width: 90vw;
    height: 95vh;
    padding: 0.5em;
}
