.progress-background {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color: #121212;
    opacity: 0.5;
    text-align: center;
}

.progress-circle {
    color: white !important;
    margin-top: 25%
}

.progress-message {
    color: white !important;
    display: block;
}
